.mydiceh1{


  font-family: 'Carattere', cursive;
  text-align: center;
  font-size: 7rem;
  color: #B24080;
  padding-top: 2%;

}
.container{
  text-align: center;
  font-size: 2rem;
}
body{
  background-color: #334756;
}
.endofthegamedesign{
  color: white;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 2%;
}
